{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Payment Page</title>
        <!-- <script src="C:\Users\AKARSH\Downloads\qrcodejs-master\qrcodejs-master\qrcode.js"></script>
         -->
         <!-- <script src="https://cdn.jsdelivr.net/npm/qrcode@1.4.4/dist/qrcode.min.js"></script> -->

        <link rel="stylesheet" href="{% static 'payment.css' %}">
        
        <script src="https://kit.fontawesome.com/9fa9e4c93e.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="https://www.apaservices.org/images/title-payment-platform_tcm9-282170.jpg">
    </head>
    <body>
        <div class="container">
            <div class="main-container">
                <p class="payment">Payment</p>
                <div class="flex">
                    <div class="items">
                        <p class="items_p" id="hi">Items you ordered!!</p>
                        <ul id="ordered-items"></ul>
                        <h2  id="total-price">Total Price:</h2>

                        <h2 for="id_address" class="address" id="id_for_address">Address:</h2>
                        <input type="text" class="address" name="address" id="id_address">
                    </div>
                    <div>

                    </div>
                    <div class="line">
                    </div>
                    <!-- payment Qr -->
                    <div class="Qr">
                        <p class="payhere">Pay Here</p>
                        <img src="https://api.qrserver.com/v1/create-qr-code/?data=upi%3A%2F%2Fpay%3Fpa%3D7842559379%40axl%26pn%3DEpicure%26tn%3DTest%2520Payment%26am%3D1%26cu%3DINR%3E%26tr%3D%3C1%3Esize=200x200" class="qr-image" alt="UPI QR code">
                        <br>
                        <br>
                        <form id='form' method="post" action="">
                            <div class="Details">
                                <label  for="transaction_id" >Enter the transaction Id:</label>
                                <input type="text" name="transaction_id" id="id_transaction_id" placeholder="Transaction Id" ><br><br>
                                <input type="hidden" value="{{orderTotal}}" name="orderTotal">
                                <input type="hidden" value="{{orderedItems}}" name="orderedItems"> 
                                
                                <input type="hidden" name="address" id="input_address" value="">
                                <input type="hidden" value="{{order_id}}" name="order_id">
                                
                                <div class="choose">
                                    <button type="submit" name="cancel" value="" class="cancel"  >Cancel</button>
                                    <button type="submit" id="id_submit" name="submit" value="Submit" class="submit" onclick="done()"  >Submit</button>
                                </div>
                            </div>
                            {% csrf_token %}
                        </form>
                        
                        
                        <!-- <button><a href="upi://pay?pa=7997859889@ybl&pn=Geda%Durga%Vara%Praveen&cu=INR" class="upi">Pay</a> </button> -->
                        
                    </div>
                </div>
                <div class="lines">
                </div>
                
            </div>
        </div>
        <script src="{% static 'payment.js' %}" defer data-order-details="{{orderedItems}}" data-total-cost="{{orderTotal}}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </body>
</html>