* {
    box-sizing: content-box;
}
body {
    padding: 0;
    margin: 0px;
    background-color: white;
    overflow-x: hidden;
    background-image: url('https://img.freepik.com/premium-photo/bay-leaf-black-pepper-black-background-condiments-flat-view-space-text_350891-622.jpg?w=900');
    background-attachment: fixed;
    background-repeat: round;
}
.container {
    margin: 10px 20px;
    width: 97vw;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    visibility: visible;
}
.head {
    font-size: 60px;
    font-family: 'poppins';
    font-weight: 600;
    display: flex;
    justify-content: center;
    font-style: italic;
    padding: 0;
    margin: 0;
    color: #fff;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.non-veg {
    padding: 0;
    margin-top: 0;
    border: 1px solid black;
    margin-left: 5vw;
    width: 86vw;
    height: 100%;
    background-color: white;
}

.cards {
    padding-top:0;
    padding-bottom:0;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 15vw;
    height: 44vh;
    background-color: beige;
    margin-left: 5vw;
    box-shadow: 5px 2px 2px grey;
    box-shadow: inset;
    display: flex;
    flex-direction:column;
    /* justify-content: center; */
    align-items: center;
}
.cards:hover {
    box-shadow: 5px 2px 3px black;
    box-shadow: inset;
}
.po {
    margin-top:1.5vh;
    margin-bottom:3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.imag{
    margin-top:0;
    width:15vw;
    height:24vh;
}
.numb{
    display:flex;
    /* width:50px; */
    align-items: center;
    justify-content: center;
    /* box-shadow: ; */
    border-radius:6px;
    margin-top:10px;
}
.rate{
    display:none;
}
.error{
    color:red;
    visibility: hidden;
}
.numb .plus{
    margin-left:2px;
    /* background-color:lavender; */
    /* width:2.2vw; */
    /* height:3.3vh; */
    /* border-left:1px solid rgba(0,0,0,0.38); */
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:18px;
    cursor: pointer;
}
.numb .minus{
    margin-right:2px;
    /* background-color:lavender; */
    /* width:2.2vw; */
    /* height:3.3vh; */
    /* border-right:1px solid rgba(0,0,0,0.38); */
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:18px;
    cursor: pointer;
}
 input {
    width: 2.8vw;
    height: 3.3vh;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
} 

.btn2{
    width: 18px;
    height: 30px;
    font-size: 20px;
}
.btn-fotter {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.order {
    font-weight: 600;
    padding: 8px 13px;
    font-size: 15px;
    border-radius: 10px;
}
.order:hover {
    color: white;
    background-color: gray;
}
.order:active {
    color: #fff;
    background-color: black;
    border: #fff;
}

/* pop up */
.container3 {
    width: 690px;
    height: 400px;
    background-color: #FFF1DC;
    top: 20%;
    left: 24vw;
    position: absolute;
    visibility: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}
.matter {
    width: 100%;
    padding: 10px 10px;
}
.matter-text {
    text-align: center;
    font-family: 'poppins';
    font-style: oblique;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    background-color: #645B8A;
    color: #ffffff;
}
.items {
    border-radius: 1px solid black;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 270px;
}
.fotter {
    background-color: #645B8A;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
}
button {
    padding: 5px 8px;
    font-size: 15px;
    align-items: center;
    border-radius: 5px;
}
.btn-cancel {
    margin-left: 17vw;
    font-weight: 500;
}
.btn-cancel:hover {
    background-color: grey;
    color: #fff;
}
.btn1 {
    margin-right: 17vw;
    font-weight: 500;
    float: right;
}
.btn1:hover {
    background-color: grey;
    color: #fff;
}
.items p {
    width: 100%;
    height: 30px;
    font-size: 25px;
    margin-left: 5vw;
    margin-top: 5px;
    margin-bottom: 5px;
    visibility: hidden;
}
.items button {
    width: 40px;
    height: 15px;
    float: right;
    margin-right: 20vw;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #FFF1DC;
}
@media screen and (max-width:500px) {
    .container {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .cards {
        padding-top:0;
        padding-bottom:0;
        margin-top: 35px;
        width: 74vw;
        height: 50vh;
        background-color: beige;
        margin-left: 5vw;
        box-shadow: 5px 2px 2px grey;
        box-shadow: inset;
        display: flex;
        flex-direction:column;
        /* justify-content: center; */
        align-items: center;
    }
    .po {
        margin-top:1.5vh;
        margin-bottom:3px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 25px;
    }
    .imag{
        margin-top:0;
        width:74vw;
        height:24vh;
    }
    .numb{
        display:flex;
        /* width:50px; */
        align-items: center;
        justify-content: center;
        /* box-shadow: ; */
        border-radius:6px;
        margin-top:10px;
    }
    .rate{
        display:none;
    }
    .error{
        color:red;
        visibility: hidden;
    }
    .numb .plus{
        margin-left:2px;
        font-size:20px;
        cursor: pointer;
    }
    .numb .minus{
        margin-right:2px;
        font-size:20px;
        cursor: pointer;
    }
    input {
        width: 9vw;
        height: 7vh;
        font-size: 30px;
        text-align: center;
    } 
    .order {
        font-weight: 600;
        padding: 13px 17px;
        font-size: 30px;
        border-radius: 10px;
    }
    .container3 {
        width: 90vw;
        height: 600px;
        background-color: grey;
        top: 10%;
        left: 7vw;
        position: absolute;
        overflow-x: hidden;
        visibility: hidden;
    }
    .matter-text {
        font-family: 'poppins';
        font-style: oblique;
        text-align: left;
        padding-left: 5px;
    }
    .items {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 450px;
    }
    .btn-cancel {
        margin-left: 15vw;
        font-weight: 500;
        font-size: 20px;
    }
    .btn1 {
        margin-right: 12vw;
        font-weight: 500;
        font-size: 20px;
    }
}