* {
    box-sizing: content-box;
}
body {
    background-color: beige;
    overflow-y: scroll;
}
.container {
    width: 97vw;
    height: 100%;
    overflow: hidden;
}
#ordered-items{
    padding-left:80px;
    font-size: 20px;
}
.total-price{
    padding-left:70px;
}
.main-container {
    width: 90vw;
    height: 86vh;
    background-color: white;
    margin: auto;
    margin-top: 5vh;
}
.payment {
    font-size: 60px;
    font-family: poppins;
    color: #E67E22;
    text-align: center;
    margin-top: 20px;
}
.flex {
    display: flex;
    flex-direction: row;
}
.items {
    padding-bottom: 0;
    width: 50vw;
}
.items_p{
    margin-top: 0;
    padding-top: 0;
    font-size: 40px;
    margin-left: 5vw;
}
.line {
    border-left: 2px solid black;
    height: 50vh;
    margin-left: 0;
}


.lines {
    border-top: 2px solid black;
    margin: auto;
    width: 80vw;
}
.payhere {
    margin-top: 0;
    font-size: 40px;
    margin-left: 15vw;
    margin-bottom: 0px;
}
.qr-image {
    width: 200px;
    height: 200px;
    margin-left: 13vw ;
    margin-top: 30px;
}
.upi {
    text-decoration: none;
    color: black;
    visibility: hidden;
}
.Details{
    margin-top:17px;
    margin-left:100px;
}
label{
    font-size: 25px;;
}
input[type="number"]{
    height:30px;
    width:180px;
}
.choose{
    display:flex;
    flex-direction: row;
}
.submit{
    background-color: #E67E22;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 4px 150px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.cancel{
    background-color: #E67E22;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:4px;
    margin-bottom:4px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.submit:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.cancel:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
@media screen and (max-width: 600px) {
    .main-container {
        width: 90vw;
        height: 92vh;
        background-color: white;
        margin: auto;
        margin-top: 3vh;
        /* background: scroll; */
        overflow: scroll;
    }
    .payment {
        font-size: 50px;
        font-family: poppins;
        color: black;
        text-align: center;
        margin-top: 20px;
    }
    .flex {
        display: flex;
        flex-direction: column;
    }
    .items_p{
        margin-top: 0;
        font-size: 30px;
        margin-left: 5vw;
    }
    .line {
        border-top: 1px solid black;
        border-left: 0px;
        height: 30px;
        margin-left: 2vw;
    }
    .payhere {
        margin-top: 0;
        font-size: 30px;
        margin-left: 5vw;
        margin-bottom: 0px;
    }
    .qr-image {
        width: 200px;
        height: 200px;
        margin-left: 18vw ;
        margin-top: 20px;
    }
    .Qr button {
        margin-top: 10px;
        margin-left: 30vw;
        width: 80px;
        height: 30px;
        font-size: 20px;
        visibility: visible;
    }
    .upi {
        visibility: visible;
    }
    .delivery {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }
    .pick .delivery label {
        font-size: 15px;
    }
    .pick .delivery input {
        font-size: 15px;
        width: 50vw;
        height: 5vh;
    }
    .pick {
        width: 80vw;
        height: 10vh;
        margin: auto;
    }
    .pick .delivery button {
        height: 36px;
    }

}

#id_for_address{
    margin-top: 23%;
}

#id_address{
    
    width: 500px;
}